datasets
langchain
langchain_community
faiss-cpu
pypdf
sentence-transformers
google-generativeai
tiktoken
PyPDF2
streamlit
python-dotenv
typing-extensions
langchain-google-genai
streamlit
sentence-transformers
langchain-huggingface
beautifulsoup4
youtube-transcript-api

torch==2.0.1 
torchvision==0.15.2 
torchaudio==2.0.2
